<launch>
  <!-- Robot definitions from multi_uav_simulator -->
  <param name="robot1" command="$(find xacro)/xacro $(find multi_uav_simulator)/bigquad_description/bigquad.urdf.xacro robot_id:=1" />
  
  <!-- Initial Conditions -->
  <rosparam file="$(find circular_motion)/config/initial_conditions.yaml"/>

  <param name="frame/prefix" value="/base_link"/>
  <param name="frame/fixed" value="map"/>

  <!-- specifies the frequency that the internal stabilization controller should run -->
  <arg name="controller_frequency" default="100"/>

  <!-- specifies the rosconsole log configuration file TODO: PUT IN THIS SRC DIRECTORY-->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find multi_uav_simulator)/config/custom_rosconsole.conf"/>

  <group ns="robot_1">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen" args="1 $(arg controller_frequency)">
      <rosparam file="$(find multi_uav_simulator)/config/bigquad_params.yaml"/>
    </node>
  </group>

  <!-- runs an rviz node for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find circular_motion)/config/simulation.rviz"/>
</launch>
